Package: adriconf
Version: 1.0.1
Section: utils
Priority: optional
Architecture: amd64
Installed-Size: 696
Maintainer: Jean Hertel <jean.hertel@hotmail.com>
Homepage: https://github.com/jlHertel/adriconf
Depends: libgl1-mesa-glx, libgtkmm-3.0, libboost-locale, libxml++2.6, libx11, libdrm2, libpciaccess0, intltool, libc6
Description: GUI Tool used to configure OpenGL drivers
 You can use it to optimize game settings or even workaround issues with them